
<div class="text-center mt-5">
    <h1>Listing All Articles</h1>
    <br>
    <%= link_to 'Add new articles', new_article_path, class: "btn btn-dark btn-lg text-light" %>
</div>


<%= render 'article' %>

