<div class="text-center mt-5 text-light">
    <h1>Create New Article</h1>
</div>

<div class="container-fluid py-1">
    <%= render "form" %>
</div>

<div class="mb-5 text-center" >
    <%= link_to '[Return to articles listing]', articles_path %>
</div>