<div class="p-5 my-5 mycustom-jumbotron rounded-2">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold text-light">Alpha Blog</h1>
        <p class="col-md-8 fs-4 text-light">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
        <div class="d-flex justify-content-end">
            <button class="btn btn-secondary btn-lg d-flex justify-content-end fs-5" type="button">Sign Up</button>
        </div>
    </div>
</div>